.header {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  align-items: center;
  padding: 0 20px;
  height: 50px;
}

.btnCategoryTitle {
  text-align: center;
}

.linkCart {
  height: 32px;
}