.listWrap + .listWrap {
  padding-top: 40px;
}

.title {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.item {
  + .item {
    padding-top: 15px;
  }

  .name {
    padding-left: 2px;
  }

  .count {
    padding-left: 5px;
    color: rgb(196, 196, 196);
  }
}