.filterContent {
  padding: 8vw 5vw;
  height: 102vw;
}

.filterSelectedList {
  background-color: rgb(245, 245, 245);
}

.filterFooter {
  display: flex;
  align-items: center;
  font-size: 15px;

  .btn {
    padding: 0 5vw;
    height: 50px;

    &.close {
      width: 35%;
      border-top: 1px solid rgb(233, 233, 233);
    }

    &.submit {
      width: 65%;
      color: #fff;
      background-color: #000;
      border-top: 1px solid #000;
    }
  }
}